<?xml version="1.0" encoding="utf-8"?>

<nlog internalLogFile="${configsetting:name=NLog.internalLogFile}" internalLogLevel="error" throwConfigExceptions="true">
    <time type="FastLocal" />
    <variable name="default_layout"
              value="${longdate}|${logger:shortName=true}|${level:upperCase=true}|${message}${onexception:|${exception:format=toString}|${stacktrace:format=DetailedFlat:reverse=true}}" />
    <targets>
        <target name="error_log" type="AsyncWrapper" queueLimit="10000" overflowAction="Grow">
            <target name="f" type="File" fileName="${configsetting:name=NLog.logDirectory}/${shortdate}/${date:format=yyyy-MM-dd-HH}_error.log" encoding="utf-8" layout="${default_layout}" concurrentWrites ="True" keepFileOpen="False"/>
        </target>
        <target name="debug_log" type="AsyncWrapper" queueLimit="10000" overflowAction="Grow">
            <target name="f" type="File" fileName="${configsetting:name=NLog.logDirectory}/${shortdate}/${date:format=yyyy-MM-dd-HH}_debug.log" encoding="utf-8" layout="${default_layout}" concurrentWrites ="True" keepFileOpen="False"/>
        </target>
        <target name="console_log" type="AsyncWrapper" queueLimit="10000" overflowAction="Discard">
            <target name="f" type="ColoredConsole" encoding="utf-8" layout="${default_layout}"/>
        </target>
    </targets>
    <rules>
        <logger name="System.*" finalMinLevel="Warn" />
        <logger name="Microsoft.*" finalMinLevel="Warn" />
        <logger name="Microsoft.Hosting.Lifetime*" finalMinLevel="Info" />
        <logger name="*" minlevel="info" writeTo="debug_log,console_log" />
        <logger name="*" minlevel="error" writeTo="error_log" />
    </rules>
</nlog>